@font-face {
    font-family: 'impact_label_reversedregular';
    src: url('/themes/notebook/fonts/Impact_Label_Reversed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

