@import "colors.css";

/* https://rsms.me/inter/ */
@import url('/theme/fonts/Inter/inter.css');

/* https://www.fontspace.com/steelworks-vintage-font-f24016 */
@font-face {
    font-family: 'SteelworksVintageDemo';
    src:    url('/theme/fonts/SteelworksVintageDemo-P5wE.otf'), 
            url('/theme/fonts/SteelworksVintageDemo-rR98.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0e2b44;
    background-image: url("/theme/images/ffflurry.svg");
    color: var(--baseFont);
    padding: 0px;
    margin: 0px;
    font-family: Inter, Arial, sans-serif;
    
    --baseFont: var(--primary100);
    --single-column-width: 60em;
}
@media screen and (max-width: 800px) {
    body {
        --single-column-width: calc(100vw - 30px);
    }
}

.reading-width {
    width: 100%;
    max-width: var(--single-column-width);
}

a:any-link {
    color: white;
    text-underline-position: under;
}
a:hover {
    color: var(--accent500);
}

h1 {
    font-size: 1.4em;
    font-variant: small-caps;
    text-align: center;
    margin-top: 40px;
}
h2 {
    font-size: 1.15em;
    font-variant: small-caps;
    margin-top: 30px;
    text-align: center;
}
h3 {
    font-size: 1em;
    text-align: center;
    margin-top: 30px;
}

h1 a:any-link,
h2 a:any-link,
h3 a:any-link {
    text-decoration: none;
}


pre, code {
    white-space: pre-line;
}

hr {
    width: min(var(--single-column-width), 100%);
    border: 0.5px solid var(--secondary500);
}
section {
    border-bottom: 1px dashed rgb(255,255,255,0.3);
}
section:last-of-type {
    border-bottom: 0px;
}

section.inlineHeadings h3 {
    text-align: start;
    display: inline;
}

.my-container {
    width: 100%;
    display: grid;
    justify-items: center;
    padding-top: 20px;
}
.page-content {
    padding: 20px;
}
.single-column-layout {
    max-width: var(--single-column-width);
    margin-left: auto;
    margin-right: auto;
}
.card {
    padding: 10px;
    background-color: var(--primary100);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 5px var(--primary500);
}
.card h1,
.card h2 {
    margin-top: 0px;
}

li {
    margin-bottom: 10px;
}

.article-back-link {
    display: grid;
    align-items: center;
    grid-template-columns: 2em auto;
    margin-bottom: 20px;
}

.material-icons {
    color: var(--primary400);
}