#pageHeader {
    display: grid;
    grid-template-rows: auto auto;
    column-gap: 30px;
    background-color: rgb(206,231,235, 0.7);
    padding-left: 10px;
    padding-right: 10px;
}
.name-full {
    font-family: Merienda, Inter, sans-serif;
    justify-self: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: 1.15em;
}
.name-full > a {
    text-decoration: none;
}

#siteNav {
    text-align: center;
}
#siteNav ul {
    position: relative;
    padding: 0;
    padding-top: 5px;
    margin: 0;
    margin-top: 1em;
    width: 90vw;
    justify-content: center;
    list-style: none;
    background-size: contain;
}
#siteNav li {
    display: inline-block;
    position: relative;
    height: 100%;
    
}
#siteNav li.active {
    border-bottom: 2px double #E84855;
}
#siteNav a {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 2em;
    color: var(--heading-color);
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: color 0.2s linear;
}
@media screen and (max-width: 800px) {
    #siteNav a {
        padding: 0 0.75em;
    }

}
#siteNav a:hover {
    color: #E84855;
}