.hljs {
    color: var(--primary100);
    font-size: 1.25em;
    white-space: pre;
  }
  
  .hljs-subst {
    color: var(--primary100);
  }
  
  .hljs-comment {
    color: var(--primary200);
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-meta .hljs-keyword,
  .hljs-doctag,
  .hljs-section {
    color: var(--primary300);
  }
  
  .hljs-attr {
    color: var(--primary300);
  }
  
  .hljs-attribute {
    color: var(--primary300);
  }
  
  .hljs-name,
  .hljs-type,
  .hljs-number,
  .hljs-selector-id,
  .hljs-quote,
  .hljs-template-tag {
    color: var(--accent500);
  }
  
  .hljs-selector-class {
    color: var(--primary300);
  }
  
  .hljs-string,
  .hljs-regexp,
  .hljs-symbol,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-link,
  .hljs-selector-attr {
    color: var(--secondary500);
  }
  
  .hljs-meta,
  .hljs-selector-pseudo {
    color: var(--primary300);
  }
  
  .hljs-built_in,
  .hljs-title,
  .hljs-literal {
    color: var(--accent500);
  }
  
  .hljs-bullet,
  .hljs-code {
    color: #cccccc;
  }
  
  .hljs-meta .hljs-string {
    color: #b5bd68;
  }
  
  .hljs-deletion {
    color: var(--accent700);
  }
  
  .hljs-addition {
    color: var(--secondary400);
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-formula,
  .hljs-operator,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
    /* purposely ignored */
  }
  