body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    min-height: 100vh;

    --single-column-width: 60em;
    
    padding: 0px;
    margin: 0px;

    font-family: Inter, Arial, sans-serif;
    line-height: 1.4;
}
@media screen and (max-width: 800px) {
    body {
        --single-column-width: calc(100vw - 30px);
    }
}

main {
    overflow-y: auto;
    padding-top: 40px;
}

.single-column-layout {
    max-width: var(--single-column-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    display: grid;
    grid-template-rows: auto;
    row-gap: 30px;
}