/* https://rsms.me/inter/ */
@import url('/themes/tropical/fonts/Inter/inter.css');

/* https://www.fontspace.com/steelworks-vintage-font-f24016 */
@font-face {
    font-family: 'SteelworksVintageDemo';
    src:    url('/themes/tropical/fonts/SteelworksVintageDemo-P5wE.otf'), 
            url('/themes/tropical/fonts/SteelworksVintageDemo-rR98.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merienda';
    src: url('/themes/tropical/fonts/Merienda-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merienda';
    src: url('/themes/tropical/fonts/Merienda-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}