.layout {
    display: grid;
    grid-template-columns: minmax(30em, var(--single-column-width)) 15em;
    grid-template-rows: auto 1fr;
    grid-template-areas:    "main welcome"
                            "main secondary";
    column-gap: 30px;
    row-gap: 30px;
    align-items: start;
    align-content: start;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-areas: "welcome"
                            "main"
                            "secondary";
    }
}

.welcome {
    position: relative;
    width: 100%;
    color: #E84855;
}

.sidebar-modules {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.sidebar-modules section {
    border: 2px solid var(--decoration);
    border-radius: 5px;
    padding-top: 10px;
}

#ephemera {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "h1 rss"
        "subtitle .";
    align-items: center;
}

#ephemera h1 {
    text-align: start;
    grid-area: h1;
}

#ephemera p {
    margin: 0px;
}

#ephemera-rss {
    grid-area: rss;
}

#ephemera-rss img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    filter: var(--link-default-filters);
    transform: translateY(3px);
}

#ephemera-subtitle {
    grid-area: subtitle;
}